

@model ﻿List<Notification>
@{
    ViewData["Title"] = "MyNotificationList";
    Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
}





<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Bildirim Sayfası</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Bildirimlar</a></li>
                    <li class="breadcrumb-item active" aria-current="page">  Bildirim Listesi</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Bildirim Listesi</h4>
                        <p class="card-description">
                            Yazmış olduğunuz Bildirimler.
                        </p>
                        <div class="table-responsive">
                             <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>*</th>
                                <th>Bildirim Açıklaması</th>
                                <th>Durumu</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="#">@item.NotificationId</a></td>
                                    <td>@item.Description</td>

                                    @if (item.IsRead == "true")
                                    {
                                        <td>
                                            <a href="/AdminNotification/StatusChangeNotification/@item.NotificationId" >
                                                
                                                <span class="text badge badge-primary">okunmadı olarak işaretle</span>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a href="/Admin/Notification/UpdateNotification/StatusChangeNotification/@item.NotificationId">
                                               
                                                <span class="text badge badge-dark">okundu olarak işaretle</span>
                                            </a>
                                        </td>
                                    }

                                    <td>
                                        <a href="/AdminNotification/UpdateNotification/@item.NotificationId" class="btn btn-danger btn-icon-split">
                                              <span class="icon text-white">
                                                <i class="mdi mdi-close-circle"></i>
                                            </span>
                                            <span class="text">Sil</span>
                                        </a>
                                    </td>

                                    <td>
                                        <a href="/Admin/Notification/UpdateNotification/@item.NotificationId" class="btn btn-success btn-icon-split">
                                        <span class="icon text-white">
                                                <i class="mdi mdi-lead-pencil"></i>
                                            </span>
                                            <span class="text">Güncelle</span>
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                            <a href="/Admin/Notification/CreateNotification" class="btn btn-info">Bildirim Oluştur</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



