@model List<Tag>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="categories categories-grid spad">
    <div class="categories__post">
        <div class="container">
            <div class="categories__grid__post">
                <div class="row">
                    @await Component.InvokeAsync("_BlogListComponentPartial")

                    <div class="col-lg-4 col-md-4">
                        <div class="sidebar__item">
                            @await Component.InvokeAsync("_AboutComponentPartial")
                            @await Component.InvokeAsync("_SocialMediaComponentPartial")


                            <div class="sidebar__feature__item">
                                <div class="sidebar__item__title">
                                    <h6>Son Eklenen Taglar</h6>
                                </div>

                                <div class="sidebar__feature__item__list">
                                    @for (int i = 0; i < Model.Count; i += 2)
                                    {
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="sidebar__feature__item__list__single">
                                                    <div class="post__text">
                                                        <a href="/Blog/BlogListByTag/@Model[i].TagId"><span>@Model[i].TagTitle</span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            @if (i + 1 < Model.Count)
                                            {
                                                <div class="col-lg-6">
                                                    <div class="sidebar__feature__item__list__single">
                                                        <div class="post__text">
                                                            <a href="/Blog/BlogListByTag/@Model[i + 1].TagId"><span>@Model[i + 1].TagTitle</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                            </div>
                            @await Component.InvokeAsync("_CategoryComponentPartial")

                            <div class="sidebar__subscribe__item">
                                <div class="sidebar__item__title">
                                    <h6>Subscribe</h6>
                                </div>
                                <p>Subscribe to our newsletter and get our newest updates right on your inbox.</p>
                                <form action="#">
                                    <input type="text" class="email-input" placeholder="Your email">
                                    <label for="s-agree-check">
                                        I agree to the terms & conditions
                                        <input type="checkbox" id="s-agree-check">
                                        <span class="checkmark"></span>
                                    </label>
                                    <button type="submit" class="site-btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

